<h1>Teams</h1>
<p><h2><%@teams.each do |team|%><h2/></p>
<p><h3>Name:<%=link_to team.name, team_path(team.id)%></p></h3>
<p><h4>Stadium:<%=team.stadium%></h4></p>
<p><h5>latest News:<%=team.bio%></h5></p>
<%team.image_url%>
<img style="width: 200px; height: 200px; display: block" src=<%=team.image_url%>/><br>
<%end%>